<%= stylesheet_link_tag "Navigator.css" %>
<center>
<% days = ["General", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %>
<div class="container">
	<div class="blog-header">
		<h2>Your Schedules</h2>
	</div>
	<div class="row">
		<div class="col-sm-7 blog-main">
			<table class="table table-hover">
				<thead>
					<th>#</th>
					<th>Schedule</th>
					<th>Time</th>
					<th>Total Events</th>
					<th>Actions</th>
				</thead>
				<tbody>
					<% (0..7).each do |n| %>
					<% if not @user_schedules.where(day: n).empty? %>

						<tr>
						<td>
							<%= days[n] %>
						</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						</tr>

						<% @user_schedules.where(day: n).each_with_index do |e, index| %>
						<tr>
							<td class="view_events_list_text">
								<%= index + 1 %>
							</td>
							<td class="view_events_list_text">
								<b><%= e.title.split.map(&:capitalize).join(' ') %></b>
							</td>
							<td class="view_events_list_text">
								<%= (e.start_time-(e.start_time%100))/100 %>:<%if(e.start_time % 100)<10%>0<%end%><%= (e.start_time % 100) %>
								<span class="glyphicon glyphicon-arrow-right"></span>
								<%= (e.end_time-(e.end_time%100))/100 %>:<%if(e.end_time % 100)<10%>0<%end%><%= (e.end_time % 100) %><br>
							</td>
							<td class="view_events_list_text">
								<%= e.num_events %>
							</td>
							<td>
								<div class="btn-group">
									<%= form_tag("/users/view_one_schedule", method: "post") do %>
										<%= hidden_field_tag(:schedule_id, e.id) %>
										<%= submit_tag("View", :name => "view", :class => "btn btn-sm btn-primary", :onclick => "this.form.method = 'get'") %>
										<%= submit_tag("DELETE", :class => "btn btn-sm btn-danger", :onclick => "this.form.action = '/users/delete_schedule'") %>
									<% end %>
								</div>
							</td>
						</tr>
						<% end %>


					<% end %>
					<% end %>
				</tbody>
			</table>
		</div>

		<div class="col-sm-4 col-sm-offset-1 blog-sidebar">
			<h4><u>Add New Schedule</u></h4>
			<% if not @errors.nil? %>
				<h4> ERRORS: </h4>
				<ul>
					<% @errors.each do |err| %>
						<li><%= err %></li>
					<% end %>
				</ul>
			<% end %>
			<%= form_tag("/users/submit_new_schedule", method: "post") do %>
				<%= text_field_tag(:title, nil,
					placeholder: "Schedule Name", :class => "input-field") %>
				<%= select_tag(:day, options_for_select(
					[["(Select Day) or Leave Unspecified", 0], ["Monday", 1], ["Tuesday", 2], ["Wednesday", 3], ["Thursday", 4],
					["Friday", 5], ["Saturday", 6], ["Sunday", 7]]), :class => "form-control"  ) %>
				<% text_field_tag(:start_time, nil,
					placeholder: "Start Time  (e.g. 1200)", :class => "input-field") %>
				<% text_field_tag(:end_time, nil,
					placeholder: "End Time (e.g. 1430)", :class => "input-field") %><br><br>
				<%= submit_tag("Add Schedule", :class => "btn btn-lg btn-primary btn-block") %>

			<% end %>
		</div>
	</div>
</div>
</center>
