<%= stylesheet_link_tag "Navigator.css" %>
<!-- SECOND NAV BAR -->


<div class="center">
<div class="container" style="width:100%; padding-left:0px; padding-right:0px; height:100%">
	

		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
	    <!-- MAPS VIEW -->
	    <script>
	    var directionsDisplay;
	    var directionsService = new google.maps.DirectionsService();
	    var map;
	    var bigCount

	    function initialize() {
	    	var count = 0

			<% Schedule.find_events(@schedule_events).each_with_index do |e, index| %>
				count = count + 1
				bigCount = count
			<% end %>


			if (count < 2) {
				var myLatlng = new google.maps.LatLng(37.8,-122.3);
				<% Schedule.find_events(@schedule_events).each_with_index do |e, index| %>
					myLatlng = new google.maps.LatLng(<%=e.latitude%>, <%=e.longitude%>);
				<% end %>

				var map_canvas = document.getElementById('map_canvas')
				var mapOptions = {
			    	zoom: 16,
			    	center: myLatlng,
			    	panControl: false,
			    	mapTypeControl: true,
			    	mapTypeControlOptions: {
			    		position: google.maps.ControlPosition.BOTTOM_LEFT,
				        style: google.maps.ZoomControlStyle.SMALL
			    	},
				    zoomControlOptions: {
				        position: google.maps.ControlPosition.LEFT_BOTTOM,
				        style: google.maps.ZoomControlStyle.SMALL

				    },
				}
				var map = new google.maps.Map(map_canvas, mapOptions);
				<% Schedule.find_events(@schedule_events).each_with_index do |e, index| %>
					var newLat = new google.maps.LatLng(<%=e.latitude%>, <%=e.longitude%>);
				    var marker = new google.maps.Marker({
					    position: newLat,
					    map: map,
					});
				<% end %>

			} else {
		      	directionsDisplay = new google.maps.DirectionsRenderer();
		      	directionsDisplay.setOptions({ preserveViewport: false });

				var myLatlng = new google.maps.LatLng(37.8,-122.3);
				var mapOptions = {
					zoom: 10,
				    center: myLatlng,
				    panControl: false,
				    mapTypeControl: true,
			    	mapTypeControlOptions: {
			    		position: google.maps.ControlPosition.BOTTOM_LEFT,
				        style: google.maps.ZoomControlStyle.SMALL
			    	},
				    zoomControlOptions: {
				        position: google.maps.ControlPosition.LEFT_BOTTOM,
				        style: google.maps.ZoomControlStyle.SMALL

				    },
				}

				var start;
				var end;
				var waypts = [];
				var bounds = new google.maps.LatLngBounds();
				<% map_events = Schedule.find_events(@schedule_events) %>
				<% if @schedule.has_events %>
					<% if not ((@schedule_events.length == 1 and @schedule_events[0].type == 1) and @event_list.present?) %>
						<% map_events.push(map_events[0]) %>
						<% @schedule.num_events += 1 %>
					<% end %>
				<% end %>

				<% map_events.each_with_index do |e, index| %>
					var newLat = new google.maps.LatLng(<%=e.latitude%>, <%=e.longitude%>);
					var extLat;
				    <% if index == 0 %>
				    	start = newLat
				    	extLat = new google.maps.LatLng(<%=e.latitude%>+0.008 , <%=e.longitude%>+0.001);
				    	bounds.extend(extLat);
				    <% elsif index == @schedule.num_events - 1 %>
				    	end = newLat
				    	extLat = new google.maps.LatLng(<%=e.latitude%>-0.008 , <%=e.longitude%>-0.001);
				    	bounds.extend(extLat);
				    <% else %>
				    	waypts.push({
				    		location:newLat,
				    		stopover:true
				    		});
				    	//extLat = new google.maps.LatLng(<%=e.latitude%>+0.01 , <%=e.longitude%>);
				    	//bounds.extend(extLat);
				    <% end %>
				  <% end %>

				  var travel = "WALKING"  //document.getElementById('mode').value;
				  var request = {
		      		origin: start,
		      		destination: end,
		      		waypoints: waypts,
		      		optimizeWaypoints: true,
		      		travelMode: google.maps.TravelMode[travel]
		  		};
		  		directionsService.route(request, function(response, status) {
		    		if (status == google.maps.DirectionsStatus.OK) {
		    			directionsDisplay.setOptions({ preserveViewport: true});
		      			directionsDisplay.setDirections(response);
		    		}
		  		});

				  map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
				  directionsDisplay.setMap(map);
				  map.fitBounds(bounds);
				  map.setCenter(bounds.center);
				  directionsDisplay.setPanel(document.getElementById('directions-panel'));
				}
			}

			if (bigCount < 2) {
				google.maps.event.addDomListener(window, 'load', initialize);
			} else {
			  	google.maps.event.addDomListener(window, 'load', initialize);
			  	google.maps.event.addDomListener(window, "resize", function() {
		 			var center = map.getCenter();
		 			google.maps.event.trigger(map, "resize");
		 			map.setCenter(center); 
				});
		}
	    </script>


	    <style>
	      #map_canvas {
	      	width:100%;
	        position:relative;
	        height: 100%;
	      }

	      

	      #directions-panel {
	        height: 100%;
	        float: right;
	        width: auto;
	        overflow: auto;
	      }

	      #control {
	        background: #fff;
	        padding: 5px;
	        font-size: 14px;
	        font-family: Arial;
	        border: 1px solid #ccc;
	        box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
	        display: none;
	      }

	      @media print {
	        #map-canvas {
	          height: 500px;
	          margin: 0;
	        }
	        #directions-panel {
	          float: none;
	          width: auto;
	        }
	      }
   		</style>
   		</style>
   		<div id="map_canvas"></div>
	   		<div id="panel" class="schedule-div">
	    		<!-- <div style="width: 100%; height: 200px; background-color: #0000FF;">
	    		</div> -->

	    		<div class="event_form_button" id="view_schedule_button">
	    			<div class="navbar">
		    			<p class="event_form_button_text navbar-text pull-left" id="view_schedule_button_text">
		    				— Hide Schedule (<%= @schedule.title.capitalize %>)
	    				</p>
	    				<div class="event_form_button_text navbar-text pull-right" id="roundtrip_button" style="margin:7.5px">
							<%= form_tag("/users/view_one_schedule", method: "get", :class => "toggle_rt_button") do %>
								<%= hidden_field_tag(:roundtrip, true) %>
								<%= hidden_field_tag(:schedule_id, @schedule.id) %>
								<% if @schedule.has_events %>
									<%= submit_tag("Make Path", :class => "btn btn-sm btn-primary") %>
								<% else %>
									<%= submit_tag("Make Cycle", :class => "btn btn-sm btn-primary") %>
								<% end %>
							<% end %>
	    				</div>
    				</div>
    				<div id="schedule_title" style="display:none;">
    					<%= @schedule.title.capitalize %>
					</div>
	    		</div>
	    		<script>
					$( "#view_schedule_button" ).click(function() {
					  $( "#schedule_list" ).toggle( "blind" );
					  $(".toggle_rt_button").toggle( "clip");
					  var outstr = $("#view_schedule_button_text").html();
					  outstr = $.trim(outstr);
					  outstr = outstr.split(' ').slice(0,3).join(' ');
					  var schedule_name = $.trim($("#schedule_title").html());
					  if (outstr == "— Hide Schedule") {
					  	$("#view_schedule_button_text").html("+ Show Schedule " + "(" + schedule_name + ")");
					  } else {
					  	$("#view_schedule_button_text").html("— Hide Schedule " + "(" + schedule_name + ")");
					  }
					});

					$('#roundtrip_button').click(function (evt) {
    					evt.stopPropagation();
					});
				</script>
					<div id="schedule_list">
							
						<table class="table" style="margin-bottom:0px">
							<% if not ((@schedule_events.length == 1 and @schedule_events[0].type == 1) and @event_list.present?) %>
								<thead>
									<th>#</th>
									<th>Event</th>
									<th>Time</th>
									<th>Location</th>
									<th>Actions</th>
								</thead>
							<% end %>
							<tbody>
							<% edex = 64 %>
							<% @schedule_events.each_with_index do |n, index| %>
								<% node_start = n.start %>
								<% node_end = n.endtime %>
								<% node_type = n.type %>
								
								<% if node_type == 0 %>
									<% e = n.event %>
									<tr class="active">
										<td class="view_event_list_text">
										<% edex += 1 %>
										<%= edex.chr %>
										</td>
										<td class="view_event_list_text" style="white-space: nowrap; overflow: hidden;">
											<b><%= e.title.split.map(&:capitalize).join(' ') %></b>
										</td>
										<td class="view_event_list_text" style="white-space: nowrap; overflow: hidden;">
											<%= (n.start-(n.start%100))/100 %>:<%if(n.start % 100)<10%>0<%end%><%= (n.start % 100) %>
											<span class="glyphicon glyphicon-arrow-right"></span>
											<%= (n.endtime-(n.endtime%100))/100 %>:<%if(n.endtime % 100)<10%>0<%end%><%= (n.endtime % 100) %><br>
										</td>


										<td class="view_event_list_text">
											<%= e.address.split.map(&:capitalize).join(' ') %>
										</td>
										<td>
											<div class="btn-group">
											<%= form_tag("/users/delete_event_from_schedule", method: "post") do %>
												<%= hidden_field_tag(:event_id, e.id) %>
												<%= hidden_field_tag(:schedule_id, @schedule.id) %>
												<%= submit_tag("Remove", :class => "btn btn-sm btn-danger") %>
											<% end %>
											</div>
										</td>
									</tr>
								<% end %>
								<% if node_type == 2 %>
									<tr class="default">
										<td class="view_event_list_text">
											<!-- Empty because no number -->
										</td>
										<td class="view_event_list_text">
											<!-- Empty because no number -->
										</td>
										<td class="view_event_list_text">
											Travel:
										</td>
										<td class="view_event_list_text">
											<% if (n.duration-(n.duration%100))/100 > 0 %><%= (n.duration-(n.duration%100))/100 %> hr, <% end %><%if(n.duration % 100)<10%>0<%end%><%= (n.duration % 100) %> minutes
										</td>
										<td class="view_event_list_text">
											<!-- Empty because no number -->
										</td>
									</tr>
								<% end %>
								<% if node_type == -1 # set to 1 to show free space %>
									<tr class="success">
										<td class="view_event_list_text">
											<!-- Empty because no number -->
										</td>
										<td class="view_event_list_text">
											<!-- Empty because no number -->
										</td>
										<td class="view_event_list_text">
											Free:
										</td>
										<td class="view_event_list_text">
											<% if (n.duration-(n.duration%100))/100 > 0 %><%= (n.duration-(n.duration%100))/100 %> hr, <% end %><%if(n.duration % 100)<10%>0<%end%><%= (n.duration % 100) %> minutes
										</td>
										<td class="view_event_list_text">
											<!-- Empty because no number -->
										</td>
									</tr>
								<% end %>


								
							<% end %>
							<% if @schedule.has_events and map_events.present? %>
								<% extra_travel = Schedule.travel_time(map_events[-2], map_events.last) %>
								<tr class="default">
									<td class="view_event_list_text">
										<!-- Empty because no number -->
									</td>
									<td class="view_event_list_text">
										<!-- Empty because no number -->
									</td>
									<td class="view_event_list_text">
										Travel:
									</td>
									<td class="view_event_list_text">
										<% if (extra_travel-(extra_travel%100))/100 > 0 %><%= (extra_travel-(extra_travel%100))/100 %> hr, <% end %><%if(extra_travel % 100)<10%>0<%end%><%= (extra_travel % 100) %> minutes
									</td>
									<td class="view_event_list_text">
										<!-- Empty because no number -->
									</td>
								</tr>
								<% e = map_events.last %>
								<!-- XXXXXX -->
								<% n = @schedule_events[Schedule.lastevent(@schedule_events)] %>
								<tr class="active">
									<td class="view_event_list_text">
									<% edex += 1 %>
									<%= edex.chr %>
									</td>
									<td class="view_event_list_text" style="white-space: nowrap; overflow: hidden;">
										<b><%= e.title.split.map(&:capitalize).join(' ') %></b>
									</td>
									<td class="view_event_list_text" style="white-space: nowrap; overflow: hidden;">
										<% arr_time = Schedule.time_plus_duration(n.endtime, extra_travel) %>
										Arrival: <%= (arr_time-(arr_time%100))/100 %>:<%if(arr_time % 100)<10%>0<%end%><%= (arr_time % 100) %>
									</td>

									<td class="view_event_list_text">
										<%= e.address.split.map(&:capitalize).join(' ') %>
									</td>
									<td>
									</td>
								</tr>

							<% end %>
							</tbody>
						</table>
						<% if (@schedule_events.length == 1 and @schedule_events[0].type == 1) and @event_list.present? %>
							<!-- TODO: PUT SCHEDULE HERE -->
							<div class="btn-group reset-button" align="center">
							<div class="alert alert-danger alert-dismissable" style="margin-bottom:0px">
								<strong>Schedule Conflict:</strong> Remove an Event to Continue.
							</div>

							<table class="table" style="margin-bottom:0px">
								<thead>
									<th>#</th>
									<th>Event</th>
									<th>Time</th>
									<th>Location</th>
									<th>Actions</th>
								</thead>
							<tbody>
								<% @event_list.each_with_index do |e, index| %>
									<tr class="danger">
										<td class="view_event_list_text">
											<%= index + 1 %>
										</td>
										<td class="view_events_list_text">
											<b style="white-space: nowrap; overflow: hidden;"><%= e.title.split.map(&:capitalize).join(' ') %></b><br>
											<% if (e.duration-(e.duration%100))/100 > 0 %><%= (e.duration-(e.duration%100))/100 %> h, <% end %><%if(e.duration % 100)<10%>0<%end%><%= (e.duration % 100) %> m
										</td>
										<td class="view_events_list_text" style="white-space: nowrap; overflow: hidden;">
											<%= (e.start_time-(e.start_time%100))/100 %>:<%if(e.start_time % 100)<10%>0<%end%><%= (e.start_time % 100) %>
											<span class="glyphicon glyphicon-arrow-right"></span>
											<%= (e.end_time-(e.end_time%100))/100 %>:<%if(e.end_time % 100)<10%>0<%end%><%= (e.end_time % 100) %>
										</td>
										<td class = "view_event_list_text">
											<%= e.address.split.map(&:capitalize).join(' ') %>
										</td>
											
										<td >
											<div class="btn-group">
											<%= form_tag("/users/delete_event_from_schedule", method: "post") do %>
												<%= hidden_field_tag(:event_id, e.id) %>
												<%= hidden_field_tag(:schedule_id, @schedule.id) %>
												<%= submit_tag("Remove", :class => "btn btn-sm btn-danger") %>
											<% end %>
											</div>
										</td>
									</tr>
								<% end %>
							</tbody>
							</table>


							</div>
						<% end %>
					</div>
				<div class="event_form_button" id="toggle-directions-button">
				<!-- Realized that this should not be a class -->
					<div class="navbar">
		    			<p class="event_form_button_text navbar-text pull-left" id="toggle-directions-button-text">
		    				+ Show Directions
						</p>
						<p class="event_form_button_text navbar-text pull-left">

						</p>
					</div>
	    		</div>
	    		<script>
					$( "#toggle-directions-button" ).click(function() {
					  $( "#directions-panel" ).toggle( "blind" );
					  var outstr = $("#toggle-directions-button-text").html();
					  if ($.trim(outstr) == "+ Show Directions") {
					  	$("#toggle-directions-button-text").html("— Hide Directions");
					  } else {
					  	$("#toggle-directions-button-text").html("+ Show Directions");
					  }
					  
					});
				</script>
				<div align="left" id="directions-panel" style="display:none;"></div>
				</div>
	    	</div>
	    	<div id="panel" class="event-div">
	    		<div class="event_form_button" id="add_new_event_button">
	    			<div class="navbar">
		    			<p class="event_form_button_text navbar-text pull-left" id="add_new_event_button_text">
		    				+ Add New Event
	    				</p>
    				</div>
	    		</div>


	    		<script>
					$( "#add_new_event_button" ).click(function() {
					  $( "#event_form" ).toggle( "blind" );
					  var outstr = $("#add_new_event_button_text").html();
					  if ($.trim(outstr) == "+ Add New Event") {
					  	$("#add_new_event_button_text").html("— Add New Event");
					  } else {
					  	$("#add_new_event_button_text").html("+ Add New Event");
					  }
					});
				</script>
	    		<div id="event_form" style="display:none;">
					<% if not @errors.nil? %>
						<h4> ERRORS: </h4>
						<ul>
							<% @errors.each do |err| %>
								<li><%= err %></li>
							<% end %>
						</ul>
					<% end %>

					<%= form_tag("/", method: "post") do %>
						<% label_tag(:title, "Title:") %>
						<%= text_field_tag(:title, nil,
							placeholder: 'Event Name', :class => "input-field") %><br>
						<% label_tag(:start_time, "Start Time: ") %>
						<%= text_field_tag(:start_time, nil,
							placeholder: 'Start Time', :class => "input-field time-input") %><br>
						<% label_tag(:end_time, "End Time: ") %>
						<%= text_field_tag(:end_time, nil,
							placeholder: 'End Time', :class => "input-field time-input") %><br>
						<% label_tag(:duration, "Duration: ") %>
						<%= text_field_tag(:duration, nil, 
							placeholder: 'Duration', :class => "input-field duration-input") %><br>
						<%= text_field_tag(:address, nil,
							placeholder: 'Address', :class => "input-field") %><br>
						<%= label_tag(:saving, "Save Event") %>
						<%= check_box_tag(:saving, true) %> <br>
						<%= hidden_field_tag(:schedule_id, @schedule.id) %>
						<%= submit_tag("Add Event", :onclick => "this.form.action = '/users/add_new_event_to_schedule'", :class => "btn btn-lg btn-primary btn-block") %>
					<% end %>
					<br>
				</div>
				<% if not @errors.nil? %>
	    			<script>
	    			$( "#event_form" ).toggle( "blind" );
	    			var outstr = $("#add_new_event_button_text").html();
					if ($.trim(outstr) == "+ Add New Event") {
						$("#add_new_event_button_text").html("— Add New Event");
					} else {
						$("#add_new_event_button_text").html("+ Add New Event");
					}
	    			</script>
	    		<% end %>
				<div class="event_form_button" id="add_saved_event_button">
					<div class="navbar">
		    			<p class="event_form_button_text navbar-text pull-left" id="add_saved_event_button_text">
		    				+ Add Saved Event
	    				</p>
    				</div>
	    		</div>
	    		<script>
					$( "#add_saved_event_button" ).click(function() {
						$( "#saved_event_list" ).toggle( "blind" );
						var outstr = $("#add_saved_event_button_text").html();
						if ($.trim(outstr) == "+ Add Saved Event") {
							$("#add_saved_event_button_text").html("— Add Saved Event");
						} else {
							$("#add_saved_event_button_text").html("+ Add Saved Event");
						}
					});
				</script>
				<div id="saved_event_list" style="display:none;">
					<div style="display:none;">
					<table class="table table-striped" style="margin-bottom:0px">
					<thead>
						<th>Event</th>
						<th>Range</th>
						<th>Location</th>
						<th>Actions</th>
						<th></th>
					</thead>
					<tbody>

				<% @user_events.each_with_index do |e, index| %>
					<tr>
						<td class="view_events_list_text">
							<b style="white-space: nowrap; overflow: hidden;"><%= e.title.split.map(&:capitalize).join(' ') %></b><br>
							<% if (e.duration-(e.duration%100))/100 > 0 %><%= (e.duration-(e.duration%100))/100 %> h, <% end %><%if(e.duration % 100)<10%>0<%end%><%= (e.duration % 100) %> m
						</td>
						<td class="view_events_list_text" style="white-space: nowrap; overflow: hidden;">
							<%= (e.start_time-(e.start_time%100))/100 %>:<%if(e.start_time % 100)<10%>0<%end%><%= (e.start_time % 100) %>
							<span class="glyphicon glyphicon-arrow-right"></span>
							<%= (e.end_time-(e.end_time%100))/100 %>:<%if(e.end_time % 100)<10%>0<%end%><%= (e.end_time % 100) %>
						</td>
						<td class = "view_event_list_text">
							<%= e.address.split.map(&:capitalize).join(' ') %>
						</td>
							
						<td >
							<div class="btn-group">
								<%= form_tag("/users/add_old_event_to_schedule", method: "post") do %>
									<%= hidden_field_tag(:event_id, e.id) %>
									<%= hidden_field_tag(:schedule_id, @schedule.id) %>
									<%= submit_tag("ADD", :class => "btn btn-sm btn-primary add_old_event_button") %>
								<% end %>
								<%= form_tag("/users/delete_event", method: "post") do %>
									<%= hidden_field_tag(:event_id, e.id) %>
									<%= hidden_field_tag(:schedule_id, @schedule.id) %>
									<%= submit_tag("DELETE", :class => "btn btn-sm btn-danger") %>
								<% end %>
							</div>
						</td>
					</tr>

				<% end %>
				</tbody>
				</table>
				</div>

				<% @user_events.each_with_index do |e, index| %>
					<div class="saved-event-button" id=<%= "saved-event-"+index.to_s %>>
						<div class="saved-event-top">
							<div
							<div class="saved-event-title">
								<b style="white-space: nowrap; overflow: hidden;"><%= e.title.split.map(&:capitalize).join(' ') %></b>
							</div>
							<div class="saved-event-delete-button">
								<%= form_tag("/users/delete_event", method: "post") do %>
									<%= hidden_field_tag(:event_id, e.id) %>
									<%= hidden_field_tag(:schedule_id, @schedule.id) %>
									<%= submit_tag('&times;'.html_safe, :class => "btn btn-sm btn-danger saved-event-delete-button-input") %>
								<% end %>
							</div>
							<div class="hidden-add-saved-event-button" style="display:none">
								<%= form_tag("/users/add_old_event_to_schedule", method: "post") do %>
									<%= hidden_field_tag(:event_id, e.id) %>
									<%= hidden_field_tag(:schedule_id, @schedule.id) %>
									<%= submit_tag('&times;'.html_safe, :class => "btn btn-sm btn-danger saved-event-add-button") %>
								<% end %>
							</div>
						</div>
						<div class="saved-event-address">
							<%= e.address.split.map(&:capitalize).join(' ') %>
						</div>
						<div class="time-graph">
							<% range =  Schedule.time_between(e.start_time, e.end_time) %>
							<% range = (60*((range -(range % 100))/100)) + (range % 100) %>
							<% duration = e.duration %>
							<% duration = (60*((duration -(duration % 100))/100)) + (duration % 100) %>
							<% event_percent = ((duration*1.0)/range) %>
							<div class="time-graph-empty" style=<%= "width:"+(((1-event_percent)*100)/2).to_s+"%" %>>
								<div style="text-align:left;margin-left:-38px">
								<%= ((e.start_time - e.start_time%100)/100).to_s + ":"%><%if e.start_time%100<10%>0<%end%><%= (e.start_time%100).to_s %>
								</div>
							</div>
							<div class="time-graph-event" style=<%= "width:" + (event_percent*100).to_s+"%" %>>
								<div style="text-align:center;color:#f8f8f8;overflow:visible;z-index:2">
									<%= ((e.duration - e.duration%100)/100).to_s + ":"%><%if e.duration%100<10%>0<%end%><%= (e.duration%100).to_s %>
								</div>
							</div>
							<div class="time-graph-empty" style=<%= "width:" + (((1-event_percent)*100)/2).to_s+"%" %>>
								<div style="text-align:right;margin-right:-40px">
								<%= ((e.end_time - e.end_time%100)/100).to_s + ":"%><%if e.end_time%100<10%>0<%end%><%= (e.end_time%100).to_s %>
								</div>

							</div>
						</div>

					
					
					</div>
				<% end %>
				<script>
					// alert($.parent());
					$(".saved-event-button").click(function(evt) {
						// alert($(this).attr("id"));
						// evt.stopPropagation();
						// $(".saved-event-button").find(".saved-event-button").css("background-color", "red");
						$(this).find(".saved-event-add-button").trigger("click");	
					});

					$(".saved-event-add-button").click(function(evt) {
						evt.stopPropagation();
					});
				</script>

				</div>
				
	    	</div>
    	</div>
	</div>
</div>
