<h1>Your Events</h1>


<%= link_to 'Add New Event!', '/users/add_event' %>

<% @user_events.each_with_index do |e, index| %>
	<div>
		<p>Event #<%= index + 1 %><br>
		Title: <%= e.title %><br>
		Start Time: <%= (e.start_time-(e.start_time%100))/100 %>:<%if(e.start_time % 100)<10%>0<%end%><%= (e.start_time % 100) %><br>
		End Time: <%= (e.end_time-(e.end_time%100))/100 %>:<%if(e.start_time % 100)<10%>0<%end%><%= (e.end_time % 100) %><br>
		<%= form_tag("/users/delete_event", method: "post") do %>
			<%= hidden_field_tag(:event_id, e.id) %>
			<%= submit_tag("Delete Event") %>
		<% end %></p>
	</div>
<% end %>


